@model SAT.DATA.EF.Enrollment

@{
    ViewBag.Title = "Unenroll";
}


<div class="p-3 text-center">
    <div class="alert alert-danger w-75 mx-auto">
        <h5>Are you sure you want to unenroll @Model.Student.FullName from @Model.ScheduledClass.Term?</h5>
    </div>
</div>

<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Cancel", "Index",null,new { @class="btn btn-secondary m-2"})
        </div>
    }
</div>
